* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo-one, .logo-two, .logo-four {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.logo-three {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}

.menu-nav, .logo-mail, .studio-two, .studio-three, .studio-four {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.logo-mail:hover, .logo-mail:focus, .studio-two:hover, .studio-two:focus, .studio-three:hover, .studio-three:focus, .studio-four:hover, .studio-four:focus {
  color: #404bbf;
}

.title-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.main-bts {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin-top: 48px;
  font-family: "Roboto", sans-serif;
}

.main-bts:hover, .main-bts:focus {
  background-color: #404bbf;
}

.title-main-one, .title-main-h, .title-name, .title-name-three, .title-main-two {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.ul-main-two {
  margin-top: 72px;
}

.main-li-two {
  background-color: #ffffff;
}

.title-main-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.subtitle, .section-title, .sub-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.text-main-one, .section-one, .text-footer, .address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.background-one, .background-three {
  background: #2e2f42;
}

.background-two, .background-four {
  background-color: #f4f4fd;
}
